body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-color {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: transparent;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
