body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  list-style: none;
  width: 1128px;
  padding: 0;
}

.gallery li img {
  display: block;
  max-width: 360px;
  height: 300px;
}
